<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Singular
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" id="busInc" href="/singular/bus-inc">B.I.</a></li>
                      <li><a class="dropdown-item" id="Bisection" href="/singular/bisection">Bisección</a></li>
                      <li><a class="dropdown-item" id="FalsePos" href="/singular/false_position">Regla falsa</a></li>
                      <li><a class="dropdown-item" id="FixedPoint" href="/singular/fixed_point">Punto Fijo</a></li>
                      <li><a class="dropdown-item" id="NewtonRaphson" href="/singular/newton-raphson">Newton-Raphson</a></li>
                      <li><a class="dropdown-item" id="Secant" href="/singular/secant">Secante</a></li>
                      <li><a class="dropdown-item" id="MultipleRoots" href="/singular/newtonMR">Newton raíces multiples</a></li>
                      <li><a class="dropdown-item" id="Graph" href="/singular/graph">Graficador</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Multiple
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/multiple/gauss-sim">Gauss Simple</a></li>
                      <li><a class="dropdown-item" href="/multiple/gauss-par">Gauss Parcial</a></li>
                      <li><a class="dropdown-item" href="/multiple/gauss-tot">Gauss Total</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/multiple/LU-sim">LU Simple</a></li>
                      <li><a class="dropdown-item" href="/multiple/LU-par">LU Parcial</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/multiple/LU-little">Doo Little</a></li>
                      <li><a class="dropdown-item" href="/multiple/LU-crout">Crout</a></li>
                      <li><a class="dropdown-item" href="/multiple/LU-cholesky">Cholesky</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/multiple/jacobi-seidel">Jacobi/Seidel</a></li>
                      <li><a class="dropdown-item" href="/multiple/sor">SOR</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Interpolación
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/interpol/vandermonde">Vandermonde</a></li>
                      <li><a class="dropdown-item" href="/interpol/newton-int">Newton</a></li>
                      <li><a class="dropdown-item" href="/interpol/lagrange">Lagrange</a></li>
                      <li><a class="dropdown-item" href="/interpol/spline">Splines</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
              </div>
            </div>
          </nav>

          <div class="container">
            {% block content %}
            {% endblock %}
          </div>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>
