{% extends "base.html" %}
{% block title %}Bisección{% endblock %}

{% block content %}
<div class="container-fluid">
    <br />
    <h3 align="left">Método de Bisección</h3>
    <br />
    <div class="row">
        <div class="col-md-3 col-lg-3" style="background-color:white">
            <form method="POST">
                <div class="form-group">
                    <br>
                    <label for="fun">Función</label>
                    <input type="text" class="form-control" id="fun" name="fun" placeholder="Ingrese función"/>
                    <label for="a">a</label>
                    <input type="text" class="form-control" id="a" name="a" placeholder="Ingrese número"/>
                    <label for="b">b</label>
                    <input type="text" class="form-control" id="b" name="b" placeholder="Ingrese número"/>
                    <label for="tol">Tolerancia</label>
                    <input type="text" class="form-control" id="tol" name="tol" placeholder="Ingrese número"/>
                    <label for="niter">Número iteraciones</label>
                    <input type="text" class="form-control" id="niter" name="niter" placeholder="Ingrese número"/>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Evaluar</button>
                <br />
            </form>
        </div>
        <div class="col-md-2 col-lg-2" style="background-color:white">
        </div>
        {% if bol > 0 %}
        <div class="col-md-5 col-lg-5" style="background-color:lightgray">
            <table class="default">

                <colgroup>
              
                <colgroup span="1" style="background: rgba(128, 255, 0, 0.3); border: 1px solid rgba(100, 200, 0, 0.3);">
              
                <colgroup span="1" style="background: rgba(255, 128, 0, 0.3); border: 1px solid rgba(200, 100, 0, 0.3);">
                
                <colgroup span="1" style="background: rgba(255, 0, 128, 0.3); border: 1px solid rgba(200, 100, 0, 0.3);">

                <colgroup span="1" style="background: rgba(0, 128, 255, 0.3); border: 1px solid rgba(200, 100, 0, 0.3);">
                
                <colgroup span="1" style="background: rgba(0, 255, 128, 0.3); border: 1px solid rgba(200, 100, 0, 0.3);">                  

                <tr>
              
                    <th> n </th>
                    <th> a</th>
                    <th> m </th>
                    <th> b </th>
                    <th> fm </th>
                    <th> E </th>
              
                </tr>
              
                {% for i in n %}
                <tr>
                    <td> {{ n[i-1] }} </td>
                    <td> {{ a[i-1] }} </td>
                    <td> {{ m[i-1] }} </td>
                    <td> {{ b[i-1] }} </td>
                    <td> {{ fm[i-1] }} </td>
                    <td> {{ E[i-1] }} </td>
                </tr>    
                {% endfor %}
              
            </table>        
        </div>
        {% endif %}
    </div>
    
</div>

{% endblock %}