{% extends "base.html" %}
{% block title %}Graficador{% endblock %}

{% block content %}
<div class="container-fluid">
    <br />
    <h3 align="left">Graficador</h3>
    <br />
    <div class="row">
        <div class="col-md-3 col-lg-3" style="background-color:white">
            <form method="POST">
                <div class="form-group">
                    <label for="fun">Función</label>
                    <input type="text" class="form-control" id="fun" name="fun" placeholder="Ingrese función"/>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Graficar</button>
                <br />
            </form>
        </div>
        <div class="col-md-4 col-lg-4" style="background-color:white">
        </div>
        </div>
        <br>
        <br>
        {% if bol > 0 %}
      <div class="col-md-7 col-lg-7" style="background-color:lightcyan">
        <h3 align="center">Gráfica</h3>
        <br>
        <p style="text-align:center;">
          <img src="{{ grafica }}" alt="User Image">
        </p>
      </div>
      {% endif %}
    </div>

{% endblock %}