{% extends "base.html" %}
{% block title %}Lagrange{% endblock %}

{% block content %}

  <div class="container-fluid">
    <br />
    <h3 align="left">Lagrange</h3>
    <br />
    <form method="POST">  
    <div class="row">
      <div class="col-md-6 col-lg-6" style="background-color:white"> 
        <label for="arrX">
            X 
            <div id="arrX"> 
            </div>
        </label>
        <br />
        <label for="arrY">
            Y
            <div id="arrY"> 
            </div>
        </label>
        <br />
        <br />
        <input type="number" id="size" name="size" min="2" max="6" value="4" onchange="arrayCreate()">
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Evaluar</button>
        <br />
      </div>
      {% if bol > 0 %}
      <div class="col-md-6 col-lg-6" style="background-color:lightcyan">
        <h3 align="center">Gráfica</h3>
        <br>
        <p style="text-align:center;">
          <img src="{{ result[4] }}" alt="User Image">
        </p>
      </div>
      {% endif %}
    </div>
  </form>
  <br>
  <br>
  {% if bol > 0 %}
  <div class="row">
    <div class="col-md-12 col-lg-12" style="background-color:lightgreen">
        <br>
      Polinomio Lagrange:<br>
        {{result[2]}}<br><br>
      Simplificado:<br>
        {{result[3]}}<br><br>
    </div>
  </div>
  {% endif %}
  </div>
  
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='array.js') }}"
    >
  </script>

{% endblock %}