{% extends "base.html" %}
{% block title %}LU Simple{% endblock %}

{% block content %}

  <div class="container-fluid">
    <h3 align="left">Factorización LU Simple</h3>
    <form method="POST">  
    <div class="row">
      <div class="col-md-4 col-lg-4" style="background-color:white">  
        <div id="matrixA"> 
        </div>
        <br />
        <input type="number" id="size" name="size" min="2" max="6" value="4" onchange="matrixCreate()">
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Evaluar</button>
        <br />
      </div>
      <div class="col-md-2 col-lg-2" style="background-color:white">
        <div id="matrixb"> 
        </div>
      </div>
      <div class="col-md-1 col-lg-1" style="background-color:white">
      </div>
        <div class="col-md-5 col-lg-5" style="background-color:lightgray">

                        L = {{ L }}
                        <br>
                        U = {{ U }}
                        <br>
                        x = {{ x }}
                        <br>
            <br>
        </div>
    </div>
  </form>
  </div>
  
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='matrix.js') }}"
    >
  </script>

{% endblock %}