{% extends "base.html" %}
{% block title %}Newton Interpolación{% endblock %}

{% block content %}

  <div class="container-fluid">
    <br />
    <h3 align="left">Newton (Interpolación)</h3>
    <br />
    <form method="POST">  
    <div class="row">
      <div class="col-md-6 col-lg-6" style="background-color:white"> 
        <label for="arrX">
            X 
            <div id="arrX"> 
            </div>
        </label>
        <br />
        <label for="arrY">
            Y
            <div id="arrY"> 
            </div>
        </label>
        <br />
        <br />
        <input type="number" id="size" name="size" min="2" max="6" value="4" onchange="arrayCreate()">
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Evaluar</button>
        <br />
      </div>
      {% if bol > 0 %}
      <div class="col-md-6 col-lg-6" style="background-color:lightcyan">
        <h3 align="center">Gráfica</h3>
        <br>
        <p style="text-align:center;">
          <img src="{{ result[4] }}" alt="User Image">
        </p>
      </div>
      {% endif %}
    </div>
  </form>
  {% if bol > 0 %}
  <div class="row">
    <div class="col-md-7 col-lg-7" style="background-color:lightgreen">
      <table>      
          <tr>
              <colgroup style="border: 1px solid rgba(0, 0, 0, 0.3);">
              {% for i in a %}
              <colgroup style="border: 1px solid rgba(0, 0, 0, 0.3);">
              {% endfor %}
              {% for i in range(0,lena,1) %}
              <th>{{ a[i] }}</th>
              {% endfor %}
              
              
          </tr>
          {% for i in range(0,n,1) %}
          <tr>
            {% for j in range(0,lena,1) %}
              <td> {{ t[i,j] }} </td>
            {% endfor %}  
          </tr>    
          {% endfor %}
      </table>
    </div>
    <div class="col-md-5 col-lg-5" style="background-color:lightgreen">
      <br>
      dDividida:<br> 
      {{ dDiv }}<br><br>
      polinomio:<br>
      {{ pol }}<br><br>
      Polinomio simplificado:<br>
      {{ psim }}<br><br>
    </div>
  </div>
  {% endif %}
  </div>
  
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='array.js') }}"
    >
  </script>

{% endblock %}